
.container {
    width: 90%;
    margin: auto;
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
}


.new-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.new-button:hover {
    background-color: #0056b3;
}


.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: 2px solid lightblue; 
}


.table th {
    background-color: #e3f2fd; 
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #000; 
}


.table td {
    padding: 10px;
    text-align: center;
}


.table td, .table th {
    border: none;
}

.table tbody tr {
    border-bottom: 1px solid #ccc;
}


.edit-button, .delete-button {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    margin: 6px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    width: 40px; 
    height: 35px;
}


.edit-button {
    background-color: #5bc0de; 
    color: white;
}

.edit-button:hover {
    background-color: #31b0d5;
}


.delete-button {
    background-color: #d9534f; 
    color: white;
}

.delete-button:hover {
    background-color: #c9302c;
}


.edit-button svg, .delete-button svg {
    font-size: 16px; 
}

.red-row {
    background-color: rgb(181, 180, 180);
    color: black;
}

.search-input-label{
    display: flex;
  }
/*Pop-up*/
.custom-popup {
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.custom-confirm-button {
    background-color: #a11212;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin:10px;
}

.custom-confirm-button:hover {
    background-color: #860f0f;
}

.custom-cancel-button {
    background-color: transparent;
    color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border: 2px solid #0056b3;
    cursor: pointer;
    margin:10px;
}

.custom-cancel-button:hover {
    background-color: #e6f0ff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination span {
    margin: 0 10px;
    color: #333;
}
